# Dependencies
node_modules/

# Expo
.expo/
dist/

# Environment variables
.env

# OS
.DS_Store

# Build
android/
ios/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript
*.tsbuildinfo